{# vista parcial #}
<nav class="navbar navbar-light bg-success" style="margin-bottom: 20px;">
  <div class="container">
    <a class="navbar-brand" style="font-sice: 18px; font-weight: bold; color:white;" href="{{ path('app_sorteo_index') }}">Sorteo</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Escribe aqui..." aria-label="Search">
      <button class="btn btn-light" type="submit">Buscar</button>
    </form>
  </div>
</nav>