{% extends 'base.html.twig' %}

{% block title %}Sorteo index{% endblock %}

{% block body %}
    <h1>Listado ultimos sorteo:</h1>

    <div class="container d-flex justify-content-center">
        <table class="table text-center w-50">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Premio</th>
                </tr>
            </thead>
            <tbody>
            {% for sorteo in sorteos %}
                <tr>
                    <td>{{ sorteo.fecha ? sorteo.fecha|date('l d F Y') : '' }}</td>
                    <td>{{ sorteo.Premio }}€</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Sin resultados</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container d-flex justify-content-center">
        <a class="btn btn-secondary" href="{{ path('app_sorteo_comprobar')}}">Comprobar</a>
    </div>
{% endblock %}
