{% extends 'base.html.twig' %}

{% block title %}Nuevo sorteo{% endblock %}

{% block body %}
    <h1>Añadir nuevo sorteo:</h1>

    {{ include('sorteo/_form.html.twig') }}

    <a href="{{ path('app_sorteo_index') }}">Volver al listado</a>
{% endblock %}
